bzip2==1.0.8
ca-certificates==2024.3.11
certifi==2024.2.2
charset-normalizer==3.3.2
expat==2.5.0
idna==3.7
libcxx==14.0.6
libffi==3.4.4
ncurses==6.4
openssl==3.0.13
pip==23.3.1
python==3.12.2
python-dotenv==1.0.1
readline==8.2
requests==2.31.0
setuptools==68.2.2
sqlite==3.41.2
tk==8.6.12
tzdata==2024a
urllib3==2.2.1
wheel==0.41.2
xz==5.4.6
zlib==1.2.13
